@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  background-color: white;
  justify-content: space-around;
  height: 75px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 25px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -5px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #6070ff;
  border-radius: 3px;
  transition: all 0.5s;
  margin-top: 5px;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-4px, -4px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}

@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    background-color: teal;
    justify-content: space-evenly;
    z-index: 1;
    width: 100%;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0.9 !important;
  }

  nav ul li a {
    color: white;
    margin-left: 30px;
  }

  nav ul.slide {
    opacity: 0.8;
    transform: translateX(0);
    background-color: #6070ff;
    color: white;
  }

  .menu-toggle.slide {
    background-color: white;
  }

  .header {
    height: 100vh;
    background-image: url(./assets/header-shapes\ mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/* welcome section start */
.headline-section {
  background-image: url(IMG/Header_bg.svg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50px 24px;
  justify-content: center;
  border-bottom-left-radius: 90px;
}

.headline-header {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  width: 327px;
  padding-bottom: 20px;
}

.headline-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  width: 327px;
}

.connect-link {
  color: #1d33fc;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 12px 1px 14px 1px;
}

.social-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-icon {
  margin-right: 20px;
  align-self: baseline;
}

.social-icon i {
  font-size: 30px;
  color: #505f79;
}

/* Work Section */
.hidden-heading {
  display: none;
}

.works-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: 114px;
  list-style: none;
}

.work-card {
  margin: 1px 24px 88px 24px;
  padding: 16px 16px 1px 16px;
  background: #fff;
  border: solid #dfe1e6 1px;
  border-radius: 16px;
  max-width: 300px;
}

.work-cardFirst {
  margin: 88px 24px;
}

.work-name {
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.work-info {
  display: flex;
  justify-content: flex-start;
}

.work-info .info-main {
  margin-right: 12px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #4a4f59;
}

.work-info .info-sep {
  color: #c1c7d0;
  margin-right: 12px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.technologies {
  display: flex;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  list-style: none;
  margin-top: 10px;
}

.lang-section {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3%;
  padding: 4px 12px;
  margin-right: 20px;
  color: #0018f0;
  background-color: #ebebff;
  border-radius: 8px;
}

.work-btn {
  padding: 14px;
  margin-top: 26px;
  margin-bottom: 40px;
  color: #1748c4;
  font-size: 17px;
  font-weight: 500;
  border: solid 2px #1748c4;
  border-radius: 9px;
  background-color: #fff;
  letter-spacing: 3%;
}

.work-btn:hover {
  color: #fff;
  background-color: #6070ff;
  border-color: #6070ff;
  cursor: pointer;
}

.work-btn:active {
  color: #fff;
  background-color: #2230d2;
  border-color: #2230d2;
}

/* make it Responsive */
@media screen and (max-width: 768px) {
  .wrapper {
    width: 600px;
    margin: 0 auto;
  }

  .info h2 {
    padding: 20px;
  }

  .info p {
    padding: 20px;
  }
}

.social-icon ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 140px;
  margin-top: 14px;
}

@media screen and (min-width: 992px) {
  /* header hero section */
  .headline-section {
    background-image: url(IMG/Desktop-header-bg.svg);
    justify-content: center;
    align-items: center;
  }

  .headline-header {
    font-size: 48px;
    line-height: 60px;
    width: 920px;
    padding-bottom: 12px;
  }

  .headline-description {
    font-size: 20px;
    line-height: 28px;
    width: 820px;
  }

  .connect-link {
    margin: 12px 1px 16px 1px;
  }

  .works-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 142px;
    list-style: none;
  }

  .work-card {
    margin: 0 auto;
    margin-bottom: 88px;
    padding: 0;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: 496px;
  }

  .work-card-reverse {
    flex-direction: row-reverse;
  }

  /* card styles */
  .work-container {
    margin-right: 46px;
    margin-top: 20px;
    width: 100%;
  }

  .work-card-reverse .work-container {
    align-self: flex-start;
    margin-right: 46px;
    margin-left: 48px;
  }

  .work-img {
    width: 50%;
    height: auto;
    margin: 24px;
    max-width: 100%;
  }

  .work-name {
    font-size: 40px;
    line-height: 52px;
  }

  .work-info .info-main {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }

  .work-info .info-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .work-info .info-sep {
    margin: auto 12px auto 0;
    font-size: 8px;
  }

  .work-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 32px;
    margin-bottom: 28px;
  }

  .lang-section {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 3%;
  }

  .work-btn {
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
  }

  .technologies {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }
}

.about-info-text h2 {
  color: #172b4d;
  font-size: 40px;
  font-weight: bold;
  line-height: 51px;
}

.inner-skills li {
  background-color: #f7f7f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 9px 16px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.about {
  margin-top: 114px;
  background-color: #fff;
  border-top-right-radius: 80px;
  padding: 114px 24px;
}

.about-info-text p {
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
}

.social-connect p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1d33fc;
  margin-top: 12px;
  margin-bottom: 12px;
}

.get-resume {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  display: inline-block;
  color: #1748c4;
  padding: 12px;
  border: 1px solid #1748c4;
  border-radius: 8px;
  margin-top: 22px;
}

.about .about-info .get-resume:hover {
  background-color: #1748c4;
  color: #fff;
  transition: 0.3s;
}

.about .about-skills {
  margin-top: 48px;
}

.skills {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 24px;
}

.skill {
  border-bottom: 1px solid #dfe1e6;
  padding: 0 12px 13px 12px;
}

.skill-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 28px;
}

.skill-name .name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.inner-skills {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 36px;
}

.active-skill {
  border: none;
}

@media screen and (min-width: 768px) {
  .about .about-skills .skills .skill .inner-skills li {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 12px 12px;
    min-width: 122px;
    min-height: 120px;
  }

  .about {
    margin-top: 82px;
    border-top-right-radius: 150px;
    padding: 142px 24px 134px 24px;
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  .about-info {
    max-width: 447px;
    width: 40%;
  }

  .about .about-info .social-connect p {
    margin-bottom: 26px;
  }

  .about .about-info .get-resume {
    margin-top: 34px;
  }

  .about .about-skills {
    margin-top: 48px;
    max-width: 684px;
    width: 60%;
  }

  .about .about-skills .skills {
    gap: 24px;
  }

  .about .about-skills .skills .skill {
    padding: 0 12px 13px 12px;
  }

  .skill-name {
    padding-right: 42px;
  }

  .name {
    padding-left: 24px;
  }

  .about .about-skills .skills .skill .inner-skills {
    flex-direction: row;
    gap: 12px;
    padding-top: 36px;
  }
}

.contact-section form {
  background-color: #0f22cc;
  padding: 100px;
  text-align: center;
}

.contact-me-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #fff;
  margin-top: 103px;
  margin-left: auto;
  margin-right: auto;
  max-width: 327px;
}

.contact-me-info {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #ebebff;
  margin-bottom: 37px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.form-input input {
  background-color: #fff;
  padding: 12px;
  outline: none;
  border: none;
  margin-top: 10px;
  max-width: 700px;
  font-family: "Poppins", sans-serif;
  margin-left: -30px;
}

.form-input textarea {
  background-color: #fff;
  padding: 12px;
  outline: none;
  border: none;
  margin-top: 10px;
  max-width: 400px;
  font-family: "Poppins", sans-serif;
  margin-left: -30px;
  width: 230px;
}

.form-control {
  width: 230px;
}

.contact-btn {
  padding: 14px;
  margin-top: 26px;
  margin-bottom: 40px;
  color: #1748c4;
  font-size: 17px;
  font-weight: 500;
  border: solid 2px #1748c4;
  border-radius: 9px;
  background-color: #fff;
  letter-spacing: 3%;
}

.contact-btn:hover {
  color: #fff;
  background-color: #6070ff;
  border-color: #6070ff;
  cursor: pointer;
  border: 1px solid white;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 10px;
  transition: 200ms ease-in-out;
  border: 1px solid black;
  z-index: 10;
  background-color: white;
  width: 343px;
  max-width: 80%;
  overflow-y: auto;
  height: 600px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}

.img-modal {
  width: 50%;
  height: 100%;
}

.modal-language {
  list-style: none;
  display: flex;
  margin-left: -20px;
}

.modal-language li {
  margin-right: 20px;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 4px;
}

.modal-footer {
  justify-content: space-between;
  display: flex;
  margin-bottom: 20px;
}

.modal-header .title {
  font-size: 2rem;
  font-weight: bold;
}

.button-modal {
  padding: 16px;
  margin-top: 26px;
  margin-bottom: 40px;
  color: #1748c4;
  font-size: 17px;
  font-weight: 500;
  border: solid 2px #1748c4;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #fff;
  /* letter-spacing: 3%; */
}

.button-modal:hover {
  color: #fff;
  background-color: #6070ff;
  border-color: #6070ff;
  cursor: pointer;
}

.button-modal:active {
  color: #fff;
  background-color: #2230d2;
  border-color: #2230d2;
}

.modal-cta {
  justify-content: space-between;
  display: flex;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 3rem;
}

.modal-body {
  padding: 10px 25px;
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 992px) {
  .modal-footer {
    display: none;
  }

  .img-modal {
    width: 300px;
  }
}

@media screen and (max-width: 576px) {
  .img-modal {
    max-width: 200px;
  }

  .button-modal {
    margin-left: 20px;
  }

  .modal-cta {
    margin-left: -20px;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    height: 600px;
  }
}
