@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.title {
  color: #6070ff;
}

.img-bg {
  width: 295px;
  height: 220px;
  left: 24px;
  top: 24px;
  border-radius: 8px;
}

.image-project {
  width: 295px;
  height: 220px;
}

section {
  margin-left: 10px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline {
  display: flex;
  flex-direction: column;
}

.dropdown {
  height: 6px;
  width: 12px;
  left: 6px;
  top: 9px;
}

li {
  float: left;
  color: #6b778c;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-left: 50px;
}

.judul {
  list-style: none;
  font-weight: bolder;
  color: #344563;
}

.lg {
  color: #6070ff;
  background: #ebebff;
  border-radius: 24px;
  border: 1px solid #dfe1e6;
  width: 100px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
}

.s {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-top: 20px;
  width: 140px;
  height: 48px;
  background: #fff;
  border-radius: 8px;
  color: #6070ff;
  border: 1px solid #6070ff;
}

.container {
  padding: 16px 16px 16px 16px;
  display: grid;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.n {
  margin-top: -10px;
  margin-left: -60px;
}

.text-description-project {
  margin: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

h3 {
  color: #6070ff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.get-my-resume {
  width: 160px;
}

.social-icons {
  margin-left: 7px;
}

.input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 48px;
  color: #172b4d;
}

.msg {
  color: #b3bac5;
  width: 327px;
  height: 170px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  align-items: flex-start;
}

.contact {
  color: #6070ff;
}

.skills {
  margin-top: 10px;
}
